.text-foot , li > a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

#add-user , #make-deposit, #start-t {
    /* border: 4px solid gold; */
    height: 20%;
    width: 20%;
}